# Filter MBTA Weekends/Weekdays #

## Setup ##

In [1]:
import sys
import datetime
import numpy as np
import pandas as pd

## Import Data ##

In [2]:
data = pd.read_csv("../../../data/mbta_daily_weather_games_noholidays.csv", low_memory=False)
data.head()

,locationid,service_day,entries,name,line_1,line_2,lat,lon,service_datetime,fog,...,snow_fall_predict,snow_accum,snow_accum_predict,dist_to_center,entries_weeks_ago_1,entries_weeks_ago_2,entries_weeks_ago_3,bruins_game,celtics_game,sox_game
0,1002,2013-01-03 00:00:00,5733,Andrew Square,Red,NaN,42.329550,-71.056960,2013-01-03 05:00:00,0,...,0,0,0,3.404767,NaN,NaN,NaN,0,0,0
1,1004,2013-01-03 00:00:00,5842,JFK/U Mass,Red,NaN,42.321438,-71.052393,2013-01-03 04:45:00,0,...,0,0,0,4.328881,NaN,NaN,NaN,0,0,0
2,1005,2013-01-03 00:00:00,6139,North Quincy,Red,NaN,42.274816,-71.029176,2013-01-03 03:15:00,0,...,0,0,0,9.777437,NaN,NaN,NaN,0,0,0
3,1006,2013-01-03 00:00:00,4028,Wollaston,Red,NaN,42.265615,-71.019402,2013-01-03 05:00:00,0,...,0,0,0,10.976943,NaN,NaN,NaN,0,0,0
4,1007,2013-01-03 00:00:00,7331,Quincy Center,Red,NaN,42.250879,-71.004798,2013-01-03 04:30:00,0,...,0,0,0,12.909591,NaN,NaN,NaN,0,0,0

In [3]:
data[(pd.DatetimeIndex(data['service_day']).weekday != 5) & (pd.DatetimeIndex(data['service_day']).weekday != 6)].to_csv("../../../data/mbta_daily_weather_games_noholidays_weekdays.csv", index=False)

In [5]:
data[(pd.DatetimeIndex(data['service_day']).weekday == 5) | (pd.DatetimeIndex(data['service_day']).weekday == 6)].to_csv("../../../data/mbta_daily_weather_games_noholidays_weekends.csv", index=False)